# App
NODE_ENV=development

# Database
POSTGRES_USER=waht
POSTGRES_PASSWORD=waht_secret
POSTGRES_DB=waht_db
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Backend
BACKEND_PORT=3001

# Frontend
FRONTEND_PORT=3000

# Blizzard API
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=
