# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build
dist/
.nuxt/
.output/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Docker
docker/volumes/
